<div id="<%= dom_id games_old %>">
  <p>
    <strong>Name:</strong>
    <%= games_old.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= games_old.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= games_old.picture %>
  </p>

</div>
