<h1>Editing games old</h1>

<%= render "form", games_old: @games_old %>

<br>

<div>
  <%= link_to "Show this games old", @games_old %> |
  <%= link_to "Back to games olds", games_olds_path %>
</div>
